:root {
  --light-gray: #f9fbfe;
  --main-color: #3575a8;
  --text-highlight-color: #448ab6;
  --light-color: #d2e8f1;
  --bucket-header-color: #e5f3ff;
  --bucket-header-color-focus: #daecff;
}

.tag {
  border-radius: 20px !important;
  margin: 0 4px 4px 0;
}
.btn {
  text-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
}
.btn-primary {
  text-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0 !important;
  background: var(--main-color) !important;
}

/* Top header */

.dashboard_toolbar {
  background: var(--light-gray);
}

.top_bar .global_notifications {
  border-radius: 20px;
}
.top_bar .navbar-inner {
  background: var(--main-color) !important;
}
/* .top_bar .class_list {
  width: inherit;
} */
.top_bar .nav > li > a {
  text-shadow: none;
}
#page_main.has_popular_tags_bar > .views {
  top: 36px;
}
#bars {
  display: flex;
  background: var(--light-gray);
}
#popular_tags_bar {
  background: none;
  height: 30px;
  border-bottom: none;
  padding-top: 7px;
  white-space: nowrap;
  box-shadow: none;
  width: 100%;
  z-index: 1000;
}
#popular_tags_bar .folder_icon {
  margin-left: 8px !important;
}
#popular_tags_bar .tag:focus, #popular_tags_bar .tag:hover, #popular_tags_bar .tag:active {
  color: var(--text-highlight-color);
  background: var(--light-color);
}
#popular_tags_bar .tag {
  font-size: 1em;
  margin: 0 !important;
  padding: 5px;
}
#popular_tags_bar .popular_tag_number {
  border-radius: 20px;
}
#popular_tags_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  margin-right: 10px !important;
}
#popular_tags_list::-webkit-scrollbar {
  display: none;
}
#page_feed_filter_buttons > li {
  color: #707D8D;
  padding-top: 1px;
  cursor: pointer;
}
#page_feed_filter_buttons > li:focus, #page_feed_filter_buttons > li:hover, #page_feed_filter_buttons > li:active {
  color: #448ab6;
  background: var(--light-color);
  border-radius: 20px;
}

/* Page feed */

.page_feed .page_feed_tool_bar {
  background: var(--light-gray);
  border-top: var(--light-gray) 1px inset;
  border-bottom: #aeb0b3 1px inset;
  height: 36px;
  display: flex;
  align-items: center;
}
.page_feed .page_feed_tool_bar .hide_show_feed.hide_feed {
  padding: 6px 4px 8px 2px;
}
.page_feed .page_feed_search_wrapper {
  padding: 0;
  box-shadow: none;
  width: inherit;
}
/* .page_feed .page_feed_search_wrapper .search_bar .clearButton {
  position: absolute;
  right: 10px;
} */
.page_feed .page_feed_search_wrapper .search_bar .icon {
  margin: 0 5px !important;
}
.page_feed .page_feed_search_wrapper .search_bar input[type="text"] {
  margin: 0;
}
.search_bar {
  border: none !important;
  margin: 0 !important;
  padding: 5px 5px 5px 7px !important;
  height: 25px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  box-shadow: none !important;
}
.page_feed .page_feed_tool_bar .page_feed_options {
  margin: 0 4px 0 0;
}

#question_feed_questions {
  top: 38px !important;
}
#question_feed_questions.contract_row {
  top: 68px !important;
}
#question_feed_questions.contract_search_tips {
  top: 322px !important;
}
.page_feed .page_feed_bucket_header, .page_feed .drafts {
  background: var(--bucket-header-color);
  box-shadow: none;
  text-shadow: none;
}
.page_feed_bucket_header:focus, .page_feed_bucket_header:hover, .page_feed_bucket_header:active {
  background: var(--bucket-header-color-focus);
}
.drafts:focus, .drafts:hover, .drafts:active {
  background: var(--bucket-header-color-focus);
}
.page_feed .feed_item:focus, .page_feed .feed_item:hover, .page_feed .feed_item:active {
  background: var(--light-gray);
}
.page_feed .feed_item {
  padding: 4px 7px 6px 0px;
}
.page_feed .feed_item .content .private_icon {
  border-radius: 20px;
}
.page_feed .feed_item .content .private_icon .private_icon_indicator {
  border-radius: 3px;
  margin: 5px 3px 5px 0px;
}
.page_feed #loadMoreButton {
  color: #858585;
  border: none;
  background: none;
  font-weight: 500;
}

#new_post_button {
  height: 26px !important;
  margin: -2px 5px -2px 10px !important;
  min-width: 95px;
  border-radius: 5px;
  font-weight: bold;
  float: left;
}


/* Post area on right */

.post_region_box {
  box-shadow: 0 0 3px #dadada;
  margin: 15px;
}
/* .post_region_box .post_region_header .post_title {
  color: #707D8D;
} */
.post_region_box .post_region_header .post_view_count {
  color: inherit;
  text-shadow: none;
  background: none;
}
.post_region_box .post_region_content .post_region_text {
  margin: 5px 0 8px 0;
}
.post_region_box .post_region_actions {
  padding: 8px 15px 12px 15px;
  background: none;
  border: none;
  line-height: inherit;
}
.post_region_box .post_region_header {
  padding: 15px 15px 5px 15px;
  border: none;
}
.post_region_box .post_region_arrow_dropdown {
  right: 15px;
  top: 38px;
}
.post_region_box .post_region_content {
  padding: 8px 15px 15px 15px;
}
.post_region_box .post_region_content h1 {
  font-weight: bold;
}

.post_vote_block {
  display: inline-block;
  padding: 3px 5px;
  background: #f2f2f3;
  border-radius: 2px;
  font-weight: bold;
  margin-left: 10px;
}
.vote_instructor {
  margin: 0;
}
.post_info_edit_block {
  float: right;
}
.post_region_box .post_region_actions .post_action {
  margin-top: 0;
}

#question_history_slider_wrapper {
  border: none !important;
  background: none !important;
  padding-top: 4px !important;
}
#history_slider .slider_wrapper .slider-handle {
  background: var(--light-gray);
  z-index: 10;
}

/* Poll results */

.post_region_box .post_region_content .poll_result.voters_shown .poll_results_progress {
  background: #ececec;
}

#special_mentions .stats_item .content {
  background: white;
}

/* Text Editor */

.tox .tox-statusbar {
  border-top: none;
}

/* Attempt to make page feed resizeable */

#feed:after {
  content: "";
  cursor: col-resize;
  background: #ccc;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -1px;
}

/* General Elements */

pre.prettyprint {
  background: #ecf0f3;
}
